
body{
    background-color: bisque;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.container{
    border: solid 1px; 
    border-radius: 5px;
    padding: 1px;
    width: 1336px;
    height: 720px;
    background-color: rgb(75, 58, 148);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}
.filas{
    padding: 1px 1px 0px 1px;
    display: flex;
}
.elementos{
    height: 70px;
    width: 70px;
    border: solid 1px black;
    margin: 1px;
    display: block;
    border-radius: 3px;
    color: white;
}
.fila-15{
    float: right;
}
.fila-espacio{
    margin-top: 40px;
}
.derecha{
    margin-right: 1184px;
}
.derecha-2{
    margin-right: 740px;
}
.name-element{
    font-size: 12.6px;
    text-align: center;
    margin-top: 2px;

}
.simbolo-element{
    font-size: 27px;
    text-align: center;
    margin: 0;
}
.number-element{
    font-size: 15px;
    margin: 0;
    text-align: right;
    margin-right: 3px;
    
}
.number-element-2{
    font-size: 15px;
    margin-right: 3px;
    display: inline;
}
.number-raro{
    font-size: 15px;
    margin-right: 24px;
    margin-left: 3px;
    
}
.name-element-2{
    font-size: 12.6px;
    text-align: center;
    margin-top: 10px;
}
.color-purpel{
    background-color: rgb(146, 2, 146);
}
.color-cyan{
    background-color: rgb(9, 164, 253);
}
.color-orange{
    background-color: rgb(231, 112, 32);
}
.color-red{
    background-color: rgb(207, 26, 26);
}
.color-aqua{
    background-color: rgb(2, 214, 143);
}
.color-greenclear{
    background-color: rgb(157, 235, 40);
}
.color-blue{
    background-color: rgba(22, 5, 180, 0.815);
}
.color-pink{
    background-color: rgb(255, 0, 200);
}
.color-greenclear-2{
    background-color: rgb(185, 255, 81);
}
.color-green{
    background-color: rgb(19, 138, 19);
}
.color-letra-purpel{
    -webkit-text-fill-color: rgb(78, 1, 122);
    -webkit-text-stroke: 0.6px rgb(255, 255, 255);
}
.color-letra-red{
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 0.6px rgb(255, 255, 255);
}
.color-letra-white{
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1.2px black;
}
.color-letra-black{
    color: black;
}
.color-letra-blue{
    -webkit-text-fill-color: rgb(9, 164, 253);
    -webkit-text-stroke: .7px white;
}